.toolbox {
    width: 150px;
    background-color: #ffffff;
}
.ant-collapse-item {
    width: 150px;
}
.ant-collapse-header-text {
    margin-inline-end: unset !important;
    flex: unset !important;
}
.ant-collapse-header {
    margin: 12px 12px;
    width: calc(100% - 24px);
    height: 32px;
    display: flex;
    align-items: center !important;
    justify-items: center !important;
    transition:
            all 0.2s,
            visibility 0s !important;
}
.ant-collapse-header:hover {
    background-color: var(--ant-color-primary-bg-hover);
    border-radius: 4px !important;
}
